*{
  font-family: Poppins;
}

header {
  background-color: #CE0505;
  height: 80px;
  position: relative;
}

.logo-span {
  width: 32px;
  height: 47px;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  left: 102px;
  top: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 4px;
}

.logo{
  color: #CE0505;
  font-size: 33px;
  font-weight: 640;
  text-decoration: none;
}

.login-signup {
  position: absolute;
  left: 1015px;
  top: 25px;
  word-spacing: 10px;
}

.login {
  color: #fbfbfb;
  text-decoration: none;
}

.createacc {
  color: #fbfbfb;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 10px;
  word-spacing: normal;
}

section {
  position: relative;
  padding: 20px 50px;
}

.title-text {
  position: absolute;
  color: #192f60;
  left: 113px;
  top: 37px;
  text-align: left;
  font: normal normal bold 36px/55px Poppins;
  letter-spacing: 0px;
}

.filter-article {
  width: 260px;
  height: 682px;
  box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.20);
  background-color: #ffffff;
  position: absolute;
  top: 115px;
  left: 113px;
}

.filter-h2 {
  color: #192F60;
}

.filter-loc {
  color: #192F60;
}

.filter-cuisine {
  color: #192F60;
}

.filter-cost {
  color: #192F60;
}

.filter-sort {
  color: #192F60;
}

.location {
  width: 208px;
  height: 35px;
  border-radius: 5px;
  border: solid 1px #8c96ab;
  margin-top: 10px;
}

.filter-div {
  position: absolute;
  left: 26px;
  color: #8C96AB;
}

.result1-article {
  width: 794px;
  height: 291px;
  box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.20);
  background-color: #ffffff;
  position: absolute;
  top: 115px;
  left: 418px;
}

.image1 {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 25px;
  left: 35px;
  border-radius: 20%;
}

.result1-h2 {
  position: absolute;
  top: 25px;
  left: 196px;
  color: #192F60;
}

.result1-h4 {
  position: absolute;
  top: 70px;
  left: 201px;
  color: #192F60;
}

.result1-p1 {
  position: absolute;
  top: 105px;
  left: 201px;
  color: #636F88;
}

.result1-h6 {
  width: 140px;
  height: 118px;
  position: absolute;
  top: 180px;
  left: 35px;
  text-align: left;
  font: normal normal normal 16px/30px Poppins;
  letter-spacing: 0px;
  color: #636F88;
  opacity: 1;
}

.result1-h5 {
  width: 215px;
  height: 69px;
  position: absolute;
  top: 192px;
  left: 216px;
  text-align: left;
  font: normal normal normal 16px/30px Poppins;
  letter-spacing: 0px;
  color: #192F60;
  opacity: 1;
}

.result1-hr {
  position: relative;
  top: 180px;
}

.result2-article {
  width: 794px;
  height: 291px;
  box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.20);
  background-color: #ffffff;
  position: absolute;
  top: 440px;
  left: 418px;
}

.image2 {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 25px;
  left: 35px;
  border-radius: 20%;
}

.result2-h2 {
  position: absolute;
  top: 25px;
  left: 196px;
  color: #192F60;
}

.result2-h4 {
  position: absolute;
  top: 70px;
  left: 201px;
  color: #192F60;
}

.result2-p1 {
  position: absolute;
  top: 105px;
  left: 201px;
  color: #636F88;
}

.result2-h6 {
  width: 140px;
  height: 118px;
  position: absolute;
  top: 180px;
  left: 35px;
  text-align: left;
  font: normal normal normal 16px/30px Poppins;
  letter-spacing: 0px;
  color: #636F88;
  opacity: 1;
}

.result2-h5 {
  width: 215px;
  height: 69px;
  position: absolute;
  top: 192px;
  left: 216px;
  text-align: left;
  font: normal normal normal 16px/30px Poppins;
  letter-spacing: 0px;
  color: #192F60;
  opacity: 1;
}

.result2-hr {
  position: relative;
  top: 180px;
}



.pagination {
  position: absolute;
  width: 330px;
  top: 780px;
  left: 50%;
}

.div1 {
  position: absolute;
  width: 36px;
  height: 36px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #8C96AB;
  border-radius: 7px;
  opacity: 0.4;
}

.a1 {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 49px;
  background: #8C96AB 0% 0% no-repeat padding-box;
  border: 1px solid #8C96AB;
  border-radius: 7px;
  opacity: 1;
}

.a2 {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 97px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #8C96AB;
  border-radius: 7px;
  opacity: 1;
}

.a3 {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 145px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #8C96AB;
  border-radius: 7px;
  opacity: 1;
}

.a4 {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 191px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #8C96AB;
  border-radius: 7px;
  opacity: 1;
}

.a5 {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 242px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #8C96AB;
  border-radius: 7px;
  opacity: 1;
}

.div2 {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 294px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #8C96AB;
  border-radius: 7px;
  opacity: 1;
}

.div1p {
  margin-top: 10px;
  margin-left: 14px;
  font-size: 8.17px 16.34px;
}

.ap1 {
  margin-top: 7px;
  margin-left: 15px;
  text-align: left;
  font: normal normal medium 20px/30px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.ap2 {
  margin-top: 7px;
  margin-left: 15px;
  text-align: left;
  font: normal normal medium 20px/30px Poppins;
  letter-spacing: 0px;
  color: #8C96AB;
  opacity: 1;
}

.ap3 {
  margin-top: 7px;
  margin-left: 15px;
  text-align: left;
  font: normal normal medium 20px/30px  Poppins;
  letter-spacing: 0px;
  color: #8C96AB;
  opacity: 1;
}

.ap4 {
  margin-top: 7px;
  margin-left: 15px;
  text-align: left;
  font: normal normal medium 20px/30px Poppins;
  letter-spacing: 0px;
  color: #8C96AB;
  opacity: 1;
}

.ap5 {
  margin-top: 7px;
  margin-left: 15px;
  text-align: left;
  font: normal normal medium 20px/30px Poppins;
  letter-spacing: 0px;
  color: #8C96AB;
  opacity: 1;
}

.div2p {
  margin-top: 7px;
  margin-left: 14px;
  font-size: 8.17px 16.34px;
}